{{template "base" .}}

{{define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home Page</h1>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At doloremque doloribus ex exercitationem expedita facilis, illo illum ipsa iusto molestiae neque nostrum obcaecati odit vel voluptatibus? Iste mollitia praesentium similique?</span><span>Delectus dignissimos distinctio dolores doloribus est laborum nostrum quae quam quia. Adipisci assumenda consequuntur eaque, eveniet fuga, hic labore libero, maxime necessitatibus nostrum quo repellat repellendus saepe temporibus voluptas voluptatibus.</span>
            </p>
        </div>
    </div>
</div>
{{end}}