{{template "base" .}}

 {{define "css"}}
 <style>
    .room-image {
        max-width:50%
    }
 </style>
{{end}}

{{define "content" }}
<div class="container"> 
    
    <div class="row">
        <div class="col">
            <img src="/static/images/p.png" alt="" class="img-fluid img-thumbnail mx-auto room-image d-block" alt="room image" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Paynin</h1>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam perferendis recusandae aliquam. Explicabo, voluptas. Delectus a voluptatem, vel provident, in optio modi accusantium aliquam nulla amet velit tempore quasi consequatur.
            Ducimus est mollitia numquam non dolorum asperiores voluptate dignissimos exercitationem iusto consectetur quasi, quae qui aliquid et, ratione voluptatem facere. Fugit distinctio vel tempore quae inventore dolore nisi, odio natus?
            Corporis facere fugiat ea incidunt quibusdam voluptas reprehenderit repellat similique voluptates quae dolore voluptate quis temporibus inventore id delectus consequuntur, dolor doloribus ipsum! Doloremque autem numquam quam hic reprehenderit harum?
            Nemo mollitia qui facilis. Nisi magni autem, velit ipsum quaerat itaque quo dolores cupiditate quibusdam saepe tempore iusto, facilis consectetur debitis deleniti eius! At, debitis impedit praesentium accusantium sint error?
            Reprehenderit, fugiat, qui similique harum, atque voluptatibus debitis commodi blanditiis deleniti ipsum natus dolor? Dicta, consectetur, necessitatibus placeat sint itaque saepe quaerat qui rerum est iure sapiente doloribus officia vero.</p>
        </div>
    </div>

     <div class="row">
      <div class="col text-center">
        <a href="/make-reservation-ap" class="btn btn-warning" >Check Availability</a>
      </div>
    </div>

 </div>
{{end}}